In [1]:
import matplotlib.font_manager

In [2]:
sorted([f.name for f in matplotlib.font_manager.fontManager.ttflist if f.name.startswith("Nanum")])

['Nanum Brush Script',
 'Nanum Brush Script',
 'Nanum Pen Script',
 'Nanum Pen Script',
 'NanumBarunGothic',
 'NanumBarunGothic',
 'NanumBarunGothic',
 'NanumBarunGothic',
 'NanumBarunGothic',
 'NanumBarunGothic',
 'NanumBarunGothic',
 'NanumBarunGothic',
 'NanumBarunGothic YetHangul',
 'NanumBarunGothic YetHangul',
 'NanumBarunpen',
 'NanumBarunpen',
 'NanumBarunpen',
 'NanumBarunpen',
 'NanumGothic',
 'NanumGothic',
 'NanumGothic',
 'NanumGothic',
 'NanumGothic',
 'NanumGothic',
 'NanumGothic',
 'NanumGothic',
 'NanumGothic Eco',
 'NanumGothic Eco',
 'NanumGothic Eco',
 'NanumGothic Eco',
 'NanumGothic Eco',
 'NanumGothic Eco',
 'NanumMyeongjo',
 'NanumMyeongjo',
 'NanumMyeongjo',
 'NanumMyeongjo',
 'NanumMyeongjo',
 'NanumMyeongjo',
 'NanumMyeongjo Eco',
 'NanumMyeongjo Eco',
 'NanumMyeongjo Eco',
 'NanumMyeongjo Eco',
 'NanumMyeongjo Eco',
 'NanumMyeongjo Eco',
 'NanumMyeongjo YetHangul',
 'NanumMyeongjo YetHangul',
 'NanumSquare',
 'NanumSquare',
 'NanumSquare',
 'NanumSquare',
 'NanumSquare',
 'NanumSquare',
 'NanumSquare',
 'NanumSquare',
 'NanumSquare Neo',
 'NanumSquare Neo',
 'NanumSquare Neo',
 'NanumSquare Neo',
 'NanumSquare Neo',
 'NanumSquare Neo',
 'NanumSquare Neo',
 'NanumSquare Neo',
 'NanumSquare Neo',
 'NanumSquare Neo',
 'NanumSquare Neo variable',
 'NanumSquare Neo variable',
 'NanumSquareRound',
 'NanumSquareRound',
 'NanumSquareRound',
 'NanumSquareRound',
 'NanumSquareRound',
 'NanumSquareRound',
 'NanumSquareRound',
 'NanumSquareRound',
 'NanumSquare_ac',
 'NanumSquare_ac',
 'NanumSquare_ac',
 'NanumSquare_ac',
 'NanumSquare_ac',
 'NanumSquare_ac',
 'NanumSquare_ac',
 'NanumSquare_ac']

In [4]:
sorted([f.name for f in matplotlib.font_manager.fontManager.ttflist if f.name.startswith("Nanum")])

[]

In [4]:
5e8

500000000.0

In [5]:
5.6e3

5600.0

In [6]:
-2.1e2

-210.0

In [7]:
-3.4e-1

-0.34

In [8]:
3141592e-6

3.141592

In [9]:
bin(13)

'0b1101'

In [10]:
bin(0.8)

TypeError: 'float' object cannot be interpreted as an integer

In [11]:
bin(1.25)

TypeError: 'float' object cannot be interpreted as an integer

In [12]:
0.8

0.8

In [16]:
%precision %r

'%r'

In [17]:
0.1

0.1

In [18]:
0.8

0.8

In [19]:
round(0.1 + 0.2) == round(0.3)

True

SyntaxError: invalid syntax (2978722373.py, line 1)

In [23]:
multi_string = """
Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
"""
print(multi_string)

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.

In [24]:
a = 3
b = 12
print("""
     {a}
X    {b}
--------
     {a*b}
'''

SyntaxError: incomplete input (578919639.py, line 3)

In [32]:
a = 3
b = 12
print("%8d" % a)
print("x", end='')
print("%7d" % b)
print("-"*8)
print("%8d" % (a*b))

       3
x     12
--------
      36

In [37]:
a, b = 33, 122
print(f'{a:10}')
print(f'x{b:9}')
print('-'*10)
print(f'{a*b:10}')

        33
x      122
----------
      4026

In [6]:
def diffsum(a, b, c):
    sum_nums = a + b + c
    sum_ex_nums = a**2 + b**2 + c**2
    return abs(sum_ex_nums-sum_nums)

In [11]:
m = 0

def diffsum2(a, b, c):
    global m
    n = diffsum(a, b, c)
    if n > m:
        m = n
    return m

In [13]:
diffsum2(1, 2, 1)

2

In [15]:
lst = []

for i in range(2):
    cost = 1024
    if i%2 == 0:
        cost *= 2
    else:
        cost //= 2
    for j in range(2):
        if j%2 == 0:
            cost *= 2
        else:
            cost //= 2
        for k in range(2):
            if k%2 == 0:
                cost *= 2
            else:
                cost //= 2
            lst.append(cost)
print(lst)

[8192, 4096, 4096, 2048, 2048, 1024, 1024, 512]

In [19]:
#2.7.7

n = int(input())
sum = 0
for j in range(n):
    for i in range(j+1):
        sum += (i+1)
print(sum)

 2

4

In [23]:
#2.10.3
x = [
  ["길동", 90],
  ["철수", 80],
  ["영수", 70],
  ["방자", 60],
]
name = list(zip(*x))[0]
name

('길동', '철수', '영수', '방자')

In [30]:
data = {
    "철수": 98,
    "영희": 80,
    "순이": 100,
    "돌이": 70,
}
SUM = 0
for k, v in data.items():
    SUM += v
    print(f"{k}{v:10}")
print("="*15)
mean = SUM/len(data)
print(f"평균{mean:10.0f}")

철수        98
영희        80
순이       100
돌이        70
===============
평균        87

In [36]:
#2.12.1
class Triangle():
    def __init__(self, b, h):
        self.b = b
        self.h = h
    
    def area(self):
        return self.b * self.h //2
t = Triangle(4, 6)
print(t.area())

12

In [38]:
#2.12.2
class squarecol():
    def __init__(self, a, b, h):
        self.a = a
        self.b = b
        self.h = h
    
    def volume(self):
        return self.a * self.b * self.h
    
    def surface(self):
        return (self.a * self.b + self.a * self.h + self.b * self.h) * 2
t = squarecol(2, 4, 6)
print(t.volume(), t.surface())

48 88

In [39]:
class Character(object):

    def __init__(self):
        self.life = 1000
        self.strength = 10
        self.intelligence = 10

    def attacked(self):
        self.life -= 10
        print("공격받음! 생명력 =", self.life)

    def attack(self):
        print("공격!")

In [43]:
class Warrior(Character):

    def __init__(self):
        super(Warrior, self).__init__()
        self.strength = 15
        self.intelligence = 5
    
    def attacked(self):
        self.life -= 5
        print("공격받음! 생명력 =", self.life)
        
    def attack(self):
        print("육탄 공격!")

In [44]:
class Wizard(Character):

    def __init__(self):
        super(Wizard, self).__init__()
        self.strength = 5
        self.intelligence = 15
    
    def attacked(self):
        self.life -= 15
        print("공격받음! 생명력 =", self.life)
        
    def attack(self):
        print("마법 공격!")

In [54]:
#2.12.4

class Car():
    
    def __init__(self):
        self.max_speed = 160
        self.speed = 0
        
    def speed_up(self):
        self.speed += 20
        self.speed = min(self.speed, self.max_speed)
        print("speed=", self.speed)
    
    def speed_down(self):
        self.speed -= 20
        self.speed = max(self.speed, 0)
        print("speed=", self.speed)

In [57]:
#2.12.5

class SportCar(Car):
    def __init__(self):
        super(SportCar, self).__init__()
        self.max_speed = 200
    
    def speed_up(self):
        self.speed += 45
        self.speed = min(self.speed, self.max_speed)
        print("speed=", self.speed)
    
    def speed_down(self):
        self.speed -= 45
        self.speed = max(self.speed, 0)
        print("speed=", self.speed)


class Truck(Car):
    def __init__(self):
        super(Truck, self).__init__()
        self.max_speed = 100
    
    def speed_up(self):
        self.speed += 15
        self.speed = min(self.speed, self.max_speed)
        print("speed=", self.speed)
    
    def speed_down(self):
        self.speed -= 15
        self.speed = max(self.speed, 0)
        print("speed=", self.speed)

In [60]:
s = SportCar()
s.speed_up()
s.speed_up()
s.speed_up()
s.speed_up()
s.speed_up()

speed= 45
speed= 90
speed= 135
speed= 180
speed= 200

In [20]:
#2.12.6

class Student():
    
    def __init__(self, id, name, math, english):
        self.id = id
        self.name = name
        self.math = math
        self.english = english
    
    def __repr__(self):
        return f"Student: {self.name} {self.id}"
    
    def __str__(self):
        return "[for str] " + self.name
    
    def __getitem__(self, key):
        if key == "math":
            return self.math
        if key == "english":
            return self.english
    
    def mean(self):
        return (self.math + self.english) / 2

In [21]:
obj = Student("1234", "lee", 74, 85)
obj, str(obj), obj["math"], obj["english"], obj.mean()

(Student: lee 1234, '[for str] lee', 74, 85, 79.5)

In [26]:
import sklearn.preprocessing
dir(sklearn.preprocessing)

['Binarizer',
 'FunctionTransformer',
 'KBinsDiscretizer',
 'KernelCenterer',
 'LabelBinarizer',
 'LabelEncoder',
 'MaxAbsScaler',
 'MinMaxScaler',
 'MultiLabelBinarizer',
 'Normalizer',
 'OneHotEncoder',
 'OrdinalEncoder',
 'PolynomialFeatures',
 'PowerTransformer',
 'QuantileTransformer',
 'RobustScaler',
 'SplineTransformer',
 'StandardScaler',
 'TargetEncoder',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_csr_polynomial_expansion',
 '_data',
 '_discretization',
 '_encoders',
 '_function_transformer',
 '_label',
 '_polynomial',
 '_target_encoder',
 '_target_encoder_fast',
 'add_dummy_feature',
 'binarize',
 'label_binarize',
 'maxabs_scale',
 'minmax_scale',
 'normalize',
 'power_transform',
 'quantile_transform',
 'robust_scale',
 'scale']

In [32]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [41]:
#2.14.1
today = "2020-10-25"
birthday = "2020-11-21"
today = int(today.replace("-", ""))
birthday = int(birthday.replace("-", ""))
(today-birthday)//10000

-1

In [59]:
import datetime as dt

In [60]:
#2.15.1

birthday = dt.datetime(1998, 4, 23)
weekday = {0: "월요일",
    1: "화요일",
    2: "수요일",
    3: "목요일",
    4: "금요일",
    5: "토요일",
    6: "일요일"}
print(birthday.strftime("%Y년 %m월 %d일"), weekday[birthday.weekday()])

1998년 04월 23일 목요일

In [61]:
#2.15.2

birthday = dt.datetime(1998, 4, 23)
now = dt.datetime.now()
age = now.year - birthday.year
mon = now.month - birthday.month
if now.day - birthday.day < 0:
    mon -= 1
if mon < 0:
    age -= 1
print(age)

25

In [62]:
from dateutil.parser import parse

In [63]:
parse('2016-04-16')

datetime.datetime(2016, 4, 16, 0, 0)

In [64]:
#2.15.3

next_birthday = parse("2024-04-23")
now = dt.datetime.now()
td = next_birthday - now
d0 = td.days
d1 = td.total_seconds()//60
d0, d1

(200, 288736.0)

In [73]:
from dateutil.relativedelta import relativedelta

In [80]:
#2.15.4

x = dt.datetime(2000,2,1)
if (x + relativedelta(days=28)).month == x.month:
    print("윤년입니다.")
    
x = dt.datetime(2000,3,1) - relativedelta(days=1) + relativedelta(years=1)
print(x)

윤년입니다.
2001-02-28 00:00:00