In [2]:
# Fill in the line below: Specify the path of the CSV file to read
my_filepath = "data/revenue_target.csv"

In [3]:
my_data = pd.read_csv(my_filepath, index_col="CLIENTNUM")

In [4]:
my_data.head()

          quarter  Year     Date  Type Card_Category  Target Revenue
CLIENTNUM
708082083      Q1  2018  Q1,2018  Shop          Blue        4.204200
708083283      Q1  2018  Q1,2018  Shop          Blue        4.744425
708084558      Q1  2018  Q1,2018  Shop          Blue       13.869450
708085458      Q1  2018  Q1,2018  Shop          Blue        4.303425
708086958      Q1  2018  Q1,2018  Shop          Blue        4.712400

In [ ]:
sns.lineplot(data=my_data) # Your code here